#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(104, 104, 104);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(26, 25, 25);
}
button:active{
    background-color: rgb(104, 104, 104);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#dicesResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}
